*{
    font-size: 20px;
    font-family: 'Segoe UI';
    color:#ffffff;
   /* background-color: #f6f6f6;*/
}

.main{
    padding: 15px;
    background-color: #ed9eae;
}

.list-element{
    margin-top: 15px;
    background-color: #c66376;
   
}

.list-element-name{
    display: inline-block;
    padding: 7px 20px 7px 20px;

    background-color: #9e354a;
    text-align: center;
}

ol {
    counter-reset: my-counter;
    list-style: none;
}

.list-element::before {
    content: counter(my-counter) ".";
    counter-increment: my-counter;
    display: inline-block;
    margin-left: 10px;
    background:#c66376;
    line-height: 25px;
    margin-right: 5px;
    color: white;
}